* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    border-radius: 5px;
    @media screen and (max-width: 599px){
      height: 250px;
      object-fit: cover;
    }
}

body {
    font-family: "Playfair Display", sans-serif;
    background-color: #313131;
    padding: 2rem;
    margin: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

h1 {
    color: #ed666f;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 1.5rem;
}

h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    color: #c8c8c8;
}


.timeline-container {
    position: relative;
    padding: 2rem 0;
}

.timeline {
    position: relative;
}

.unit {
    padding: 2rem 0;
    position: relative;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 1.3rem;
    align-items: flex-start;
}

.president {
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: rgba(60, 110, 113, 0.2);
    border-radius: 6px;
    width: 80%;
}

.event {
    align-self: baseline;
    flex-direction: column;
    padding: 1.2rem;
    background-color: rgba(40, 75, 99, 0.3);
    border-radius: 8px;
    margin-top: 1rem;
    width: 30%;
}

/* PRESIDENT CHANGE */
[data-type="3"] {
    border: 1px solid #3c6e71;
}
/* MAJOR EVENTS */
[data-type="2"] {
    border: 2px solid #ed666f;
}
/* MINOR EVENTS */
[data-type="1"] {
    border: 1px solid #3c6e71;
}
/* SIDE EVENTS */
[data-type="0"] {
    border: 1px solid rgba(200, 200, 200, 0.3);
}

.footer{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 0.7rem;
    background: white;
    padding: 0.5rem;
    color: black;
    border-radius: 5px;
    a {
      color: inherit;
      font-weight: 600;
    }
}